.banner {
    color: white;
    text-align: center;
    height: 75vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;


  }

h1,h2,h3 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Roboto", monospace;
}

.banner h1 {
  font-size: 60px;
}
.banner p {
  font-size: 25px;
}
